[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"

[dependencies]
hello-world-methods = { path = "methods" }
risc0-zkvm = "=3.0.4"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
